@keyframes appear{
	0%{
		opacity: 0%;
		transform: scale(1, 0) translateX(-50vw);
		transform-origin: top left;
	}
	100%{
		opacity: 100%;
		transform: scale(1, 1) translateX(0);
		transform-origin: top left;
	}
}

.slider{
	--thumb-height: 12px;
	--thumb-width: 12px;
	--bar-height: 10px;
}

.video{
	display: none;
}

.text, .map{
	animation-name: appear;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

.map{
	max-width: 800px;
	max-height: 500px;
	display: block;
	margin: 0 auto;
}

.clues{
	margin: 0 auto;
	margin-bottom: 10px;
	width: 80%;
}

.controls{
	margin: 0 auto;
	height: 20px;
	margin-bottom: 5px;
}

.play, .pause{
	height: 20px;
	width: 20px;
	float: left;
	transition: all 0.2s;
	cursor: pointer;
	background: var(--tint-background);
}

.play:hover, .pause:hover{
	background: var(--alt-tint-background);
}

.play{
	mask: url("/play.svg") center/contain;
	-webkit-mask: url("/play.svg") center/contain;
}

.pause{
	mask: url("/pause.svg") center/contain;
	-webkit-mask: url("/pause.svg") center/contain;
}


/* removing default styling and adding some transitions */
.slider{
	width: calc(100% - 25px);
	background: transparent;
	appearance: none;
	-webkit-appearance: none;
	border-radius: 10px;
	transition: all 0.2s;
	overflow: hidden;
	float: right;
	cursor: pointer;
	margin-top: 3px;

	--track-size: 15px;
}

.slider:active{
	cursor: grabbing;
}

.slider::-moz-range-track{
	background: var(--tint-background);
	height: var(--track-size);
	border-radius: var(--track-size);
	transition: 0.2s background;
}

.slider::-webkit-slider-runnable-track{
	background: var(--tint-background);
	height: var(--track-size);
	border-radius: var(--track-size);
	transition: 0.2s background;
}

.slider:hover::-moz-range-track{
	background: var(--alt-tint-background);
}

.slider:hover::-webkit-slider-runnable-track{
	background: var(--alt-tint-background);
}

.slider::-moz-range-thumb{
	height: var(--track-size);
	width: var(--track-size);
	background: var(--highlight);
	border-radius: 50%;
	border: 1px solid var(--highlight);
	box-shadow: -2007px 0 0 2000px var(--highlight);
	transition: 0.2s all;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	height: var(--size);
	width: var(--size);
	background: var(--highlight);
	border-radius: 50%;
	border: 1px solid var(--highlight);
	box-shadow: -2007px 0 0 2000px var(--highlight);
	transition: 0.2s all;
}

.slider:hover::-moz-range-thumb{
	background: var(--alt-highlight);
	border: 1px solid var(--alt-highlight);
	box-shadow: -2007px 0 0 2000px var(--alt-highlight);
}

.slider:hover::-webkit-slider-thumb{
	background: var(--alt-highlight);
	border: 1px solid var(--alt-highlight);
	box-shadow: -2007px 0 0 2000px var(--alt-highlight);
}

.slider:active::-moz-range-track, .slider:active::-moz-range-thumb{
	filter: brightness(80%) !important;
}