.guess{
	font-size: 1.3em;
	background: var(--light-highlight);
	border: 1px solid var(--highlight);
	border-radius: 10px;
	padding: 5px;
	width: 100%;
}

.guessbox, .suggested{
	margin: 0 auto;
	width: 80%;
}

.suggested{
	margin-top: 5px;
	height: 30px;
	white-space: nowrap;
	overflow: hidden;
}

.individual{
	display: inline-block;
	margin: 0px 6px;
	padding: 3px;
	border-radius: 3px;
	background-color: var(--light-highlight);
	border: 1px solid var(--highlight);
	cursor: pointer;
	color: var(--background);
}

.label{
	display: inline-block;
	padding-top: 3px;
	margin-right: 6px;
	vertical-align: top;
	font-weight: bold;
}