.container, .footer{
	max-width: 1500px;
	margin: 0 auto;
}

.container{
	margin-top: 5px;
}

.header{
	margin: 0px;
}

.footer{
	margin-top: 50px;
	padding-top: 10px;
	border-top: 1px solid var(--light);
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	list-style-type: none;
}

.gamenav{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.gamenav > *:first-child{
	grid-column: 1/span 2;
}

.menu{
	list-style-type: none;
	display: none;
	transition: transform 0.2s;
	transform: translateX(-100vw);
}

.menu a{
	color: var(--background);
}

.menu a:hover{
	color: var(--light);
}

@media(min-width: 1200px){
	.menu{
		display: flex;
		transform: translateX(0px);
		height: 20px;
		top: 0px;
		width: 100vw;
		background: var(--highlight);
	}

	.menu li{
		margin: 0px 10px;
	}

	.menu li:first-child{
		flex: 1;
	}

	.lines, .checkbox{
		display: none;
	}
}