.logo{
	margin-right: 10px;
}

@media(max-width: 1500px){
	.logo{
		margin-left: 50px;
	}
}

.container, .footer{
	max-width: 1500px;
	margin: 0 auto;
	position: static;
}

.container{
	margin-top: 5px;
	min-height: calc(100vh - 220px);
}

.footer{
	margin-top: 50px;
	padding-top: 10px;
	border-top: 1px solid var(--alt-background);
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	list-style-type: none;
}

.footer img{
	vertical-align: middle;
}

.gamenav{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.gamenav > *:first-child{
	grid-column: 1/span 2;
}

@media(max-width: 1500px){
	.footer{
		display: block;
	}
}