.score{
	float: right;
	text-align: right;
	margin-right: 10px;
	width: 140px;
}

.streak{
	text-align: right;
	float: right;
	width: 110px;
}

.small{
	font-size: 0.8em;
}

.score, .streak{
	color: var(--highlight);
}